.menu {
  font-family: "Capriola";
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  color: none;
  display: flex;
  gap: 0.5rem;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  line-height: 30px;
}

.menus {
  position: relative;
  transition: 0.4s;
  cursor: pointer;
}
.menus:hover {
  color: white;
}

.menus:after {
	content: '';
  position: absolute;
  left: 0;
  display: inline-block;
  height: 1em;
  width: 100%;
  border-bottom: 1.5px solid;
  margin-top: 10px;
  opacity: 0;
	-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
	transition: opacity 0.35s, transform 0.35s;
	-webkit-transform: scale(0,1);
	transform: scale(0,1);
}

.menus:hover:after {
  opacity: 1;
	-webkit-transform: scale(1);
	transform: scale(1);
  color: white;
}

